body {
  background-color: #ffc5d9;
}

.btn2 {
  border: none;
  background-color: #9da289;
  color: #ffffff;
  font-size: 10px;
  font-family: inherit;
  padding: 1rem 1rem;
  cursor: pointer;
}

.first {
  font-family: Arial;
  font-size: 10px;
}
